build
*.pdf
*.bak
*.sav
aux

# ignore extracted texts
data/**/files/**/*.txt

# ignore archives
**/*.zip
**/*.bz2

# ignore extracted data
data/*/*/**/*.json

# ignore virtual environment
venv/
.venv

# ignore python cache
__pycache__
